node red flow.json
[{"id":"6958d1b0.2a41b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7d62d001.70936","type":"ncd-gateway-node","z":"6958d1b0.2a41b","name":"","connection":"b84f8e8b.da2bc","x":110,"y":120,"wires":[["6e8bf77b.3d6478"]]},{"id":"6e8bf77b.3d6478","type":"debug","z":"6958d1b0.2a41b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":120,"wires":[]},{"id":"6b9fac02.0b8044","type":"ncd-wireless-node","z":"6958d1b0.2a41b","name":"","connection":"aa316563.451c88","config_comm":"e9aac20f.1ba27","addr":"","sensor_type":"1","auto_config":"","node_id":0,"delay":300,"destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":100,"y":260,"wires":[["23ca7c4d.d90884"]]},{"id":"23ca7c4d.d90884","type":"split","z":"6958d1b0.2a41b","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":330,"y":260,"wires":[["5122469d.f66ca8"]]},{"id":"5122469d.f66ca8","type":"switch","z":"6958d1b0.2a41b","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":260,"wires":[["7a1200b3.8ee46"],["258cd10b.ba2c9e"]]},{"id":"7a1200b3.8ee46","type":"ui_gauge","z":"6958d1b0.2a41b","name":"","group":"63c58175.4b078","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value | number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":200,"wires":[]},{"id":"258cd10b.ba2c9e","type":"ui_gauge","z":"6958d1b0.2a41b","name":"","group":"63c58175.4b078","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"RH","format":"{{value | number:2}}","min":"20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":320,"wires":[]},{"id":"b84f8e8b.da2bc","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"aa316563.451c88","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"e9aac20f.1ba27","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"63c58175.4b078","type":"ui_group","z":"","name":"Default","tab":"4c6dd3b0.cf3b6c","disp":true,"width":"6","collapse":false},{"id":"4c6dd3b0.cf3b6c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]